---
---
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Retos Públicos Playbook</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='{{site.baseurl}}/playbook/assets/images/favicon.ico' type='image/x-icon' />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/playbook/assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/playbook/assets/images/favicon-16x16.png" sizes="16x16" />
  <link href='{{site.baseurl}}/playbook/assets/css/styles.scss' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">

      <a href="#introduction"><h3>Retos Públicos Playbook</h3></a>
      <ul class="nav">
        {% for play in site.plays %}
          <li class="play_square"><a href="#play{{ play.id }}" title="View Play {{ play.id }}: {{ play.title }}">{{ play.id }}</a></li>
        {% endfor %}
      </ul>
      <div id="menu_icon">
        <a href="#plays_index_anchor" title="Return to Index"></a>
      </div>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      <a id="retos_logo" href="http://retos.gob.mx" title="Enlace a Retos Públicos"><img src='{{site.baseurl}}/playbook/assets/images/retos_logo.png' alt="Logo Retos Públicos"></a>
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
      <div class="button">
        <a href="#plays_index_anchor" title="Ver los pasos">Ve los pasos</a>
      </div>
      <div class="button">
        <a href="https://github.com/whitehouse/playbook#readme" title="Visit Github to Improve This Content">Ayuda a mejorar el contenido</a>
      </div>
    </div>
  </div>
</div>

<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="plays_index_anchor"></a>
      <h2>Los pasos a seguir</h2>
      <div class="columns">
        <ol>
        {% for play in site.plays %}
          <li h2><a href="#play{{ play.id }}" title="View Play {{ play.id }}">{{ play.title }}</a></li h2>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#play1" title="View the In Detail">Leer todo en orden</a>
      </div>
    </div>
  </div>
</div>

<div id="plays" class="outer_container">
  {% for play in site.plays %}
    <div class="inner_container">
      <a class="anchor_offset" id="play{{ play.id }}"></a>
      <h6>PLAY {{ play.id }}</h6>
      <h2 class="display">{{ play.title }}</h2>

      {{ play.output }}
    </div>
  {% endfor %}
</div>

<script src='{{site.baseurl}}/playbook/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/playbook/assets/js/scrollspy.js'></script>
<script src='{{site.baseurl}}/playbook/assets/js/site.js'></script>
<script id="_fed_an_js_tag" type="text/javascript" src="{{site.baseurl}}/playbook/assets/js/federated-analytics.all.min.js?agency=GSA&sub-agency=OGP"></script>
</body>
</html>
